* {
    padding: 0;
    margin: 0;
}
.card, .card2, .menu-medium, .product, .product2 {
    color: transparent;
}
.main-header {
    background-color: #dddddd;
    display: flex;
    margin: 2rem;
    border-radius: 0.2rem;
    padding: 4rem;
}
.main-nav {
    display: flex;
    margin: 0 2rem 0 auto;
}
.main-nav-list {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 3rem;
    list-style: none;
}
.a-1 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.a-1:hover {
    color: #00cccc;
    border-bottom: 3px solid #00cccc;
}
.close {
    width: 2rem;
}
.card {
    background-color: #555555;
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.profile {
    height: auto;
    border-radius: 50% ;
}
.close {
    align-self: flex-end;
}